<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модель нейронной сети</title>
</head>
<body>

    {% if message %}
        <p> {{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="username">Модуль упругости при растяжении</label>
            <input type="text" name="username">
    </p>
        <p>
            <label for="username2">Прочность при растяжении</label>
            <input type="text" name="username2"
        </p>
        <p>
            <label for="username3">Плотность</label>
            <input type="text" name="username3"
        </p>
        <p>
            <label for="username4">Модуль упругости</label>
            <input type="text" name="username4"
        </p>
        <p>
            <label for="username5">Количество отвердителя</label>
            <input type="text" name="username5"
        </p>
        <p>
            <label for="username6">Содержание эпоксидных групп</label>
            <input type="text" name="username6"
        </p>
        <p>
            <label for="username7">Температура вспышки</label>
            <input type="text" name="username7"
        </p>
        <p>
            <label for="username8">Поверхностная плотность</label>
            <input type="text" name="username8"
        </p>
        <p>
            <label for="username9">Потребление смолы</label>
            <input type="text" name="username9"
        </p>
        <p>
            <label for="username10">Угол нашивки</label>
            <input type="text" name="username10"
        </p>
        <p>
            <label for="username11">Шаг нашивки</label>
            <input type="text" name="username11"
        </p>
        <p>
            <label for="username12">Плотность нашивки</label>
            <input type="text" name="username12"
        </p>
    <p>
        <input type="submit">
    </p>
    </form>

</body>
</html>